#welcome{
	width: 60em;
}
#fgc{
	width: 34em;
	height: 32em;
}
#gameRec{
	width: 30em;
	height: 47em;
}
#art{
	width: 60em; 
	height: 32em;
}
#notes{
	width: 35em; 
	height: 35em;
}

/* ------------ PHONES ----------- */

@media only screen and (max-width: 600px){
	#welcome{
		width: 300px;
	}
	
	.icon{
		width: 70px;
		height: 70px;
		margin-bottom: 5px;
	}
	
	
	
	.music-player{
		width: 80%;
	}

}





/* ----------- TABLETS -------- */

@media only screen and (min-width: 768px) and (max-width: 992px){
	.topbar-text{
		font-size: 24px;
	}
	.window-header{
		.close-button{
		width: 40px;
		height: 40px;
		font-size: 30px;
		}
	}
	
	.icon{
		width: 120px;
		img{
			width: 110px;
			height: 110px;
		}
		p{
			font-size: 20px;
		}
	}
	.app-heading{
		font-size: 50px;
	}
	#welcome{
		width: 50em;
		p{
			font-size: 30px;
		}
	}
	
	#fgc{
		width: 55em;
		height: 45em;
		p{
			font-size: 30px;
		}
		h3{
			font-size: 28px;
		}
		li{
			font-size: 24px;
		}
		img{
			width: 70%;
			height: 70%;
		}
		.chris{
			width: 32%;
			height: 32%;
		}
		.fgc{
			padding-right: 60px;
		}
	}
	
	#gameRec{
		width: 45em;
		height: 50em;
		padding-right: 20px;
		p{
			font-size: 30px;
		}
		.game-rec{
			padding-bottom: 30px;
			li{
				margin-left: 30px;
				font-size: 30px;

			}
		}
	}

	.article-window{
		width: 700px;
		height: 500px;
		.article-body{
			h2{
				font-size: 32px;
			}
			h3{
				font-size: 30px;
			}
			h4{
				font-size: 25px;
			}
			p{
				font-size: 30px;
			}
			li{
				font-size: 28px;
			}
		}
	}

	#art{
		width: 55em;
		height: 60em;
		.art{
			p{
				font-size: 30px;
			}
			h2{
				font-size: 32px;
			}
			a{
				width: 100%;
			}
			.gallery{
			   flex-direction: column;
				justify-content: space-around;
				align-items: center;
				gap: 30px;
			}
			img{
				width: 50%;
			}
			a{
				width: 100%;
				font-size: 30px;
			}
		}
	}
	.modal{
		.close{
			font-size: 80px;
		}
		.modal-content{
			width: 80%;
			height: auto;
		}
		.modal4-content{
		width: 90%;
		height: auto;
		}
	}

	.music-player{
		height: 150px;
		width: 100%;
		.now-playing, .track-name, .track-artist{
			font-size: 24px;
		}
		.buttons{
			.track-buttons{
				p{
					font-size: 24px;
				 }
			  }
			  .current-time, .total-duration{
			  	font-size: 18px;
			  }
			 .current-time{
			 	margin-bottom: 20px;
			 }
			 .total-duration{
			 	margin-top: 20px;
			 }
			 .seek_slider, .volume_slider{
			 	height: 20px;
			 }
			 .seek_slider::-webkit-slider-thumb,.volume_slider::-webkit-slider-thumb{
				width: 40px;
				height: 40px;
			}
			.seek_slider::-moz-range-thumb,.volume_slider::-moz-range-thumb{
				width: 40px;
				height: 40px;

			}
			.volume_slider{
					width: 150px;
			}

		}

	}

	#notes{
		width: 50em;
		height: 50em;

		.notes{
			grid-template-areas: 
			"heading heading heading"
			"note note note"
			"note note note"
			"btn btn btn"
			;

			.input-box{
				position: absolute;
				left: 50%;
				transform: translate(-50%);
				width: 31.5em;
				height: auto;
				font-size: 20px;
			}
			.note-btn{
				position: relative;
				top: 33em;
				left: 26%;
			}
			button{
				font-size: 20px;
				border-radius: 5px;
			}


		}

	}

}