body{
	height: 100vh;
	font-family: monospace;
	background-image: url("images/rotating cube.gif");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

p{
	font-size: 18px;
	margin-left: 10px;
}

/* DIV ELEMENTS GO HERE*/

/* styling for the close button */
.close-button{
	display: flex;
	justify-content: center;
	cursor: pointer;
	margin: 0px;
	width: 20px;
	height: 20px;
	background: rgba(255,0,0, 0.8);
	border-radius: 5px;
	border: solid black 2px;
	font-size: 18px;
}

/* styling for topbar*/
.topbar{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	background: rgba(255,255,255, 0.5);
	backdrop-filter: 10px;
	border-radius: 5px;
}
.topbar-text{
	background: rgba(255,255,255, 0.8); 
	padding: 5px; 
	border-radius: 5px;

}

/* styling for the window tabs*/
.window{
	border: solid;
	background: rgba(255,255,255, 0.5);
	backdrop-filter: blur(20px);
	border-radius: 10px; 
	padding: 10px;
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	overflow-y: scroll;
}
.window-header{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 0px;
}
.window-header:hover{
	cursor: move;
}

/* styling for the welcome tab */
.welcome{
	background: rgba(255,255,255, 0.5); 
	backdrop-filter: 10px; 
	border-radius: 10px;
}

/* styling for the desktop apps */
.icon{
	padding-top: 48px;
	padding-left: 16px;
}
.icon > p{
	color: white;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	font-size: 14px;
	margin: 0px;
}
.icon > img{
	width: 72px;
	height: 72px;
	border: solid black 3px;
	border-radius: 5px;
}
.icon > img:active{
	opacity: .5;
}

/* styling for desktop app window content */
.app-heading{
	margin-left: 10px;
	text-decoration: underline;
	padding-top: 10px;
}
.app-image{
	width: 40%;
	height: 40%;
}
.fgc{
	border-radius: 10px;
	background: url(images/fire_gif.gif);
	background-size: 35%;
}
.fgc-text{
	background-color: rgba(255, 255, 255, 0.8);
	width: 80%;
	border-radius: 5px;
	list-style-type: none;
}
.fgc-img{
	display: flex;
	column-gap: 10px;
	margin-right: 40px;
	padding-top: 10px;
}
.game-rec{
	background-color: rgb(245, 218, 100);
	border-radius: 10px;
	height: 66vh;
}
.table-of-contents{
	display: grid;
	gap: 10px;
	list-style-type: none;
	font-size: 18px;
}

/* article styling */
.article-window{
	width: 600px;
}