body{
	height: 100vh;
	font-family: monospace;
	background-image: url("images/rotating cube.gif");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

p{
	font-size: 18px;
	margin-left: 10px;
}

a{
	text-decoration: none;
	color: blue;
}

/* WINDOW ELEMENTS GO HERE*/

.window{
	border: solid;
	background: rgba(255,255,255, 0.5);
	backdrop-filter: blur(20px);
	border-radius: 10px; 
	box-shadow: 7px 8px 12px 7px rgba(0, 0, 0, 0.35);;
	padding: 10px;
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	overflow-y: scroll;
	z-index: auto;
	.window-header{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 0px;
	position: sticky;
	top: 0;
	z-index: 3;
	}
.window-header:hover{
  cursor: move;
	}

.close-button{
	display: flex;
	justify-content: center;
	cursor: pointer;
	margin: 0px;
	width: 20px;
	height: 20px;
	background: rgba(255,0,0);
	border-radius: 5px;
	border: solid black 2px;
	font-size: 20px;
	}
}

.topbar{
	position: relative;
	bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	background: rgba(255,255,255, 0.5);
	backdrop-filter: blur(10px);
	border-radius: 5px;
	.topbar-text{
			background: rgba(255,255,255, 0.8); 
			padding: 5px; 
			border-radius: 5px;

	}
}


/* styling for the welcome tab */
.welcome{
	background: rgba(255,255,255, 0.5); 
	backdrop-filter: blur(20px); 
	border-radius: 10px;
}

/* styling for the desktop apps */
.icon{
	padding-top: 48px;
	padding-left: 16px;
  width: 80px;
  cursor: pointer;
  p{
   	color: white;
		text-decoration-line: underline;
		text-decoration-style: dotted;
		font-size: 14px;
		margin: 0px;
  }
  img{
		width: 72px;
		height: 72px;
		border: solid black 3px;
		border-radius: 5px;
		box-shadow:  0px 13px 15px 0px rgba(0, 0, 0, 0.36);	
  }
  img:active{
  	opacity: .5;
  }

}

/* styling for desktop app window content */
.app-heading{
	margin-left: 10px;
	text-decoration: underline;
	padding-top: 10px;
  img{
    max-width: 40%;
    height: 40%;
  }
}

.fgc{
	border-radius: 10px;
	background: url("images/fire_gif.gif");
	background-size: 40%;
  .fgc-text{
	background-color: rgba(255, 255, 255, 0.8);
	max-width: 80%;
	border-radius: 5px;
	list-style-type: none;
  }
  img{
    height: 40%;
  	width: 40%;
  	margin-bottom: 20px;
  }
  .fgc-img{
    display: flex;
    column-gap: 10px;
    margin-right: 40px;
    padding-top: 10px;
    .chris{
			width: 20%;
			height: 20%;
		}
  }

}

.game-rec{
	background: url(images/games.png);
	background-size: 160%;
	border-radius: 10px;
	.table-of-contents{
	display: grid;
	gap: 10px;
	font-size: 18px;
	}
}

.art{
	background: linear-gradient(#000675, #4AD5ED);
	border-radius: 10px;
	h1{
		position: relative;
		top: 5px;
	}
	h1,h2{
		text-decoration: underline;
	}
	h1,h2,p{
		background: rgba(255, 255, 255, 0.8);
		border-radius: 5px;
	}
	h1,h2,p,a{
		margin-left: 10px;
		margin-right: 10px;
	}
	img{
		width: 20%;
		border: 3px solid black;
		border-radius: 3px;
	}
	img:hover{
		cursor: pointer;
	}
	a{
		font-size: 24px;
		color: rgb(255, 0, 0);
	}
	a:hover{
		color: rgb(255, 0, 255);
	}
	.gallery{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0px 10px 0px 10px;
		}
	}

	.notes{
		display: grid;
		grid-template-areas: 
		"heading heading heading"
		"note note ."
		"note note btn"
		"note note ."
		;
		grid-template-rows: auto;
		grid-template-columns: 20em 0.6em;
		h1{
			grid-area: heading;
		}
		.notes-body{
			border-radius: 10px;
		}
		.input-box{
			grid-area: note;
			border: solid black 2px;
			background: rgb(255, 255, 255);
			position: relative;
			width: 18em;
			min-height: 20em;
		}
		p{
			font-size: 14px;
			font-family: sans-serif;
		}
		.note-btn{
			grid-area: btn;
			position: relative;
			bottom: 90px;
    }
		button{
			outline: none;
			padding: 10px;
			margin-bottom: 5px;
			cursor: pointer;
		}
	}


/* image modal styling*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
	  /* Modal content (image) */
	.modal-content {
	  position: relative;
	  width: 70%;
	  height: auto;
	  max-width: 90%;
	  max-height: 90%;
	  border-radius: 5px;
	  overflow: hidden;
	  animation: zoomIn 0.5s;
  	}
  	.modal4-content{
			width: 40%;
			height: auto;
		}
	
	}

	@keyframes zoomIn {
	  from {transform: scale(0.6);}
	  to {transform: scale(1);}
	}

	.modal.show {
	  display: flex;
	  opacity: 1;
	}
	/* Close button */
	.close {
	  position: absolute;
	  top: 10px;
	  right: 15px;
	  color: #ffffff;
	  font-size: 35px;
	  font-weight: bold;
	  cursor: pointer;
	  transition: transform 0.3s;
	}
}	



/* article styling */
.article-window{
	max-width: 800px;
	height: 400px;
	border: solid white 3px;
	background: rgba(0,0,0, 0.5);
	backdrop-filter: blur(20px);
	border-radius: 10px; 
	padding: 10px;
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	overflow-y: scroll;
	.article-body{
		background: rgba(255,255,255, 0.8);
		border-radius: 10px;
	}
	h1{
		margin: 10px 0px 0px 10px;
		text-decoration: underline;
	}
	h3{
		font-size: 20px;
	}
	h4{
		font-size: 16px;
	}
	p,h2,h3,h4{
		margin-left: 10px;
	}
	img{
		width: 70%;
		border-radius: 5px;
	}
	ul{
		font-size: 18px;
	}
	li{
		margin-bottom: 8px;
	}
}


/* MUSIC PLAYER STYLINGS */
.music-player{
	height: 100px;
	width: 750px;
	display: flex;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	border: solid rgb(27, 32, 46) 3px;
	border-radius: 10px;
	padding-bottom: 25px;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%);
	backdrop-filter: blur(20px);

	.details{
		border: 3px solid white;
		border-radius: 10px;
		backdrop-filter: blur(20px);
		margin: 25px 20px 0px 10px;
		padding: 0px 10px 0px 10px;
		color: white;
	}

	.now-playing, .track-name, .track-artist{
		font-size: 20px;
	}

	.buttons{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
		color: white;
		cursor: pointer;
		.track-buttons{
			display: flex;
			flex-direction: row;
			margin-right: 20px;
			p{
				font-size: 20px;
			}
		}
	}
	.current-time{
		margin-bottom: 10px;
	}
	.total-duration{
		margin-top: 10px;
	}
	.current-time, .total-duration{
		font-size: 14px;
	}

	.seek_slider, .volume_slider{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		height: 10px;
		background: rgba(184, 0, 184);
		border: none;
		border-radius: 5px;
	}
	.seek_slider::-webkit-slider-thumb,.volume_slider::-webkit-slider-thumb{
			-webkit-appearance: none;
			width: 20px;
			height: 20px;
			background: rgba(154, 0, 154);
			box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.29);
			cursor: pointer;
			border-radius: 50%;
			border: none;
		}
		.seek_slider::-moz-range-thumb,.volume_slider::-moz-range-thumb{
			-moz-appearance: none;
			width: 20px;
			height: 20px;
			background: rgba(154, 0, 154);
			box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.29);
			cursor: pointer;
			border-radius: 50%;
			border: none;
		}

	.seek_slider{
		width: 80%;
	}
	.volume_slider{
		width: 125px;
	}

}
